.head{
    width: 100%;
}

.ins{
    float: left;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 16px;
}

.head1{
    float:right;
    font-size: 24px;
    margin-bottom: 16px;
}

.modal-header{
width: 85%;
margin-top: 10px;
border-radius: 3px;
border-color: black;
border-width: 1.67483578346583468438638465px;
}

.restart{
    margin: 10px;
    margin-top: 16px;
}

.footer{
    bottom: 0;
    position: fixed;
    margin:0px;
    background-color: rgba(255, 106, 0, 0.335);
    color: white;
    line-height: 3;
    width: 100%;
}

.link{
    color: white;
    
}

